.logo{
    /* background-color: black; */
    height: 5rem;
}

.nav{
    /* background-color: black; */
    flex: 0 0 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5rem;
}

.nav__list{
    list-style-type: none;
    overflow: hidden;
    /* background-color: antiquewhite; */
}

.nav__list--item{
    display: inline-block;
    padding: 1rem;
}

.nav__list--item--link{
    text-decoration: none;
    font-size: medium;
    color: black;
    padding: 1rem;
}

.nav__list--item--link:hover {
    background-color: var(--colour-grey-light-C0);
    color: white;
}


/*dropdown css for HOST in navbar*/

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d9d9d9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }











.active{
    background-color: var(--colour-primary-C2);
    color: white;
    border-radius: 20%;
}

.searchbar{
    flex: 0 0 25%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    width: 90%;
    transition: all 0.4s;
    margin-right: -3rem;
    background-color: var(--colour-grey-light-C0);
}

.search__input:focus{
    width: 100%;
    outline: 1px solid var(--colour-blue-light-C5);
}

.search__button{
    border: none;
    cursor: pointer;
    background-color: var(--colour-grey-light-C0);
}

.search__button:active{
    transform: translateY(2px);
}

.login{
    /* background-color: black; */
    flex: 0 0 10%;
    height: 2rem;
}

.login__button{
    text-decoration: none;
    background-color: var(--colour-blue-light-C5);
    color: white;
    padding: 1rem;
    border-radius: 20%;
    font-size: medium;
}

.login__button:hover{
    background-color: var(--colour-blue-light-C3);
}

.title--box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--colour-blue-light-C4);
    height: 7rem;
}

.title{
    flex: 1;
    text-align: center;
}


.news--box{
    background-color: var(--colour-dark-C6);
    color: white;
    max-width: 100%;
    overflow: hidden;
}

.news--text{
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: scroll 30s 0s linear infinite;
    font-size: small;
    margin-top: 0.8rem;
}

@keyframes scroll{
    from{transform: translateX(100%);}
    to{transform: translateX(-100%);}
}

.news--link{
    text-decoration: none;
    color: red;
    font-weight: 500;
}

.news--link:hover{
    color: brown;
}

.news--text:hover{
    animation-play-state: paused;
}

.speech--info--box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    height: 20rem;
}

.image--info{
    flex: 0 0 40%;
    padding-left: 5rem;
}

.text--info{
    flex: 1;
    margin-right: 2rem;
}

@media(max-width: 800px){
    .image--info, .text--info{
        flex: 100%;
    }
}

.speakers--box{
    text-align: center;
    background-color: var(--colour-primary-light-C1);
    height: 25rem;
    max-width: 100%;
    overflow: hidden;
}

.speakers--title{
    /* padding-left: 5rem; */
    padding-top: 1rem;
    color: white;
}

.speakers--image--box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem 2rem;
}

.speakers--image{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.speakers--image--caption{
    color: white;
}

.speakers--image--1,
.speakers--image--2,
.speakers--image--3,
.speakers--image--4,
.speakers--image--5,
.speakers--image--6,
.speakers--image--7,
.speakers--image--8,
.speakers--image--9{
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: scroll 30s 0s linear infinite;
}

.icon--box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: black; */
}

.icon__link{
    padding: 2rem;
    color: var(--colour-dark-C6);
}


.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightblue;
}




/* LOGIN PAGE */
.content__image--login{
    background-image: url(../img/back-image-1.jpg);
}

.login--title{
    font-size: large;
    /* background-color: yellow; */
    text-align: center;
}

.login--title h1{
    text-decoration: underline;
}

.button__back{
    flex: 0 0 20%;
    color: black;
    /* background-color: black; */
}

.button__link--home{
    color: white;
    text-decoration: none;
    background-color: var(--colour-blue-light-C5);
    padding: 1rem;
    border-radius: 10%;
    /* background-color: black; */
}


.form--box--login{
    background-color: white;
    width: 30%;
    height: 30rem;
    padding: 6rem;
    margin: auto;
    border-radius: 10%;
    opacity: 0.85;
}


.form--login{
    font-size: large;
    text-align: center;
}

.username--box{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.form__label--username{
    flex: 50%;
}

.form__input--username{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 50%;
    flex: 50%;
    transition: all 0.4s;
}


.form__input--username:focus{
    width: 55%;
    padding: 5px;
}

.password--box{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.form__label--password{
    flex: 50%;
}

.form__input--password{
    font-size: medium;
    color: inherit;
    width: 50%;
    flex: 50%;
    transition: all 0.4s;
}

.form__input--password:focus{
    width: 55%;
    padding: 5px;
}

.form__button--box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.form__button--submit{
    background-color: var(--colour-blue-light-C5);
    border: none;
    border-radius: 10%;
    padding: 1rem;
    color: white;
}

.form__button--cancel{
    background-color: var(--colour-blue-light-C5);
    border: none;
    border-radius: 10%;
    padding: 1rem;
    color: white;
}

.register--link{
    text-align: center;
}



/* REGISTER PAGE */

.register--title{
    font-size: large;
    /* background-color: yellow; */
    text-align: center;
}

.register--title h1{
    text-decoration: underline;
}

.content__image--register{
    background-image: url(../img/back-image-2.jpg);
}

.form--box--register{
    background-color: white;
    width: 30%;
    height: 40rem;
    padding: 6rem;
    margin: auto;
    border-radius: 10%;
    opacity: 0.85;
}

.form--register{
    font-size: large;
    text-align: center;
}

.name--box{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.form__label--name{
    flex: 50%;
}

.form__input--name{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 50%;
    flex: 50%;
    transition: all 0.4s;
}


.form__input--name:focus{
    width: 55%;
    padding: 5px;
}

.email--box{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.form__label--email{
    flex: 50%;
}

.form__input--email{
    font-size: medium;
    color: inherit;
    width: 50%;
    flex: 50%;
    transition: all 0.4s;
}

.form__input--email:focus{
    width: 55%;
    padding: 5px;
}



/* KEYNOTES PAGE */
.speaker--title--box--1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    margin: auto;
    /* background-color: white; */
}

.speaker--title{
    font-size: x-large;
    color: var(--colour-primary-C2);
    border-top: 1px solid var(--colour-primary-C2);
    border-bottom: 1px solid var(--colour-primary-C2);
    padding: 1rem;
}

.speaker--box--1{
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: white; */
    margin: auto;
}

.speaker--image{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.speaker--details--1{
    text-align: center;
    flex: 0 0 40%;
    /* background-color: black; */
}

.speaker--name--1{
    color: var(--colour-primary-C2);
    font-size: large;
}

.speaker--description--1{
    font-size: small;
    font-weight: 600;
}


.title--talk--box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.speaker--group--box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}




/* RESPONSIVENESS */
@media(max-width: 1000px){
    /* LOGIN */
    .username--box, .password--box, .name--box, .email--box{
        flex-direction: column;
    }

    .login--title h1, .register--title h1{
        text-decoration: none;
    }

    .form--box--login, .form--box--register{
        width: 100%;
        padding: 1rem;
        height: auto;
        border-radius: 0;
    }

    .form__button--box{
        flex-direction: column;
    }

    .form__button--cancel{
        margin-top: 1rem;
    }

    /* REGISTER */
    
}