.container{
    max-width: 100%;
    /* background-color: black; */
    /* margin: auto; */
    height: 55rem;
}

.header{
    padding: 1rem;
    background-color: var(--colour-header);
    border-bottom: 1px solid var(--colour-dark-C6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.content{
    /* background-color: var(--colour-grey-light-C0); */
    /* background-color: white; */
    /* height: 55rem; */
    margin: auto;
}

.footer{
    background-color: antiquewhite;
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


/* LOGIN PAGE */

.content--login{
    height: 55rem;
    /* background-color: black; */
    padding-top: 5rem;
}

.header--login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    background-color: var(--colour-header);
    /* background-color: yellow; */
}





/* REGISTER PAGE */

.header--register{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    background-color: var(--colour-header);

}

.content--register{
    height: 55rem;
    /* background-color: black; */
    padding-top: 5rem;
}


/* RESPONSIVENESS */
@media(max-width: 1000px){
    .header--login, .footer, .header--register{
        flex-direction: column;
    }
}

